backports.weakref>=1.0.post1
bleach>=2.0.0
funcsigs>=1.0.2
future>=0.16.0
h5py>=2.7.1
html5lib>=0.999999999
Keras>=2.0.8
Markdown>=2.6.9
mock>=2.0.0
numexpr>=2.6.4
numpy>=1.13.1
pbr>=3.1.1
protobuf>=3.4.0
PyYAML>=3.12
scikit-learn>=0.19.0
scipy>=0.19.1
six>=1.11.0
tables>=3.4.2
tensorflow-tensorboard>=0.1.6
webencodings>=0.5.1
Werkzeug>=0.12.2
